{% extends 'dashboard/base.html' %}
{% block body %}
    <article class="content item-editor-page">
        <div class="title-block">
            <h3 id="crudo_page_title" class="title"> Descarga programada del crudo: {{ crudo.Nombre }}</h3>
            <span class="sparkline bar" data-type="bar"></span>
        </div>

        <form id="form_download" action="{% url 'QueVideo:crudoDownload' crudo.IdCrudo %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="time_upload">Seleccione una hora para relizar la transferencia </label>
                <input class="form-control" id="time_upload" type="time" name="usr_time" value='now'>
            </div>

            <p id="transferCountDown">-</p>

            {% if status %}
                <div class="alert alert-success" role="alert">
                    El archivo ya se encuentra descargado, verifique en su carpeta de descargas local.<br>
                    Si no lo encuentra pruebe descargandolo nuevamente.
                </div>
            {% endif %}

            <input class="btn btn-primary" id="program_btn" type="button" value="Programar Transferencia" onclick="transferClick('{{ crudo.url }}')">

            <input class="btn btn-primary" id="program_btn" type="button" value="Descarga Inmediata" onclick="inmediateTransferClick('{{ crudo.url }}')">

        </form>

    </article>

<script type="text/javascript">
$(function(){
  var d = new Date(),
      h = d.getHours(),
      m = d.getMinutes();
  if(h < 10) h = '0' + h;
  if(m < 10) m = '0' + m;
  $('input[type="time"][value="now"]').each(function(){
    $(this).attr({'value': h + ':' + m});
  });
});

var x = null;
var scriptUrl = "";

function inmediateTransferClick(url){
    scriptUrl = url;
    //window.location = scriptUrl;
    window.open(scriptUrl, '_blank');
    $("#form_download").submit();
}

function transferClick(url){
    scriptUrl = url;
    if (x != null)
        clearInterval(x)
    calculateRemainingTime();
    x = setInterval(calculateRemainingTime, 10000);
}

function calculateRemainingTime(){
    var d = new Date(),
          h = d.getHours(),
          m = d.getMinutes();
        var p = $('#time_upload').val().split(':');
        var hp = p[0], mp = p[1];

        $('#transferCountDown').text('la tranferencia iniciará en: ' +
            (hp - h).toString() + " horas y " + (mp-m).toString() + " minutos"   );

        if ((hp - h) <= 0 && (mp - m ) <= 0){
            console.log("tiempo completado!!")
            console.log("descargando: " + scriptUrl)
            $('#transferCountDown').text("Descarga Iniciada")
            $("#program_btn").attr("disabled", true);
            //window.location = scriptUrl;
            window.open(scriptUrl, '_blank');
            $("#form_download").submit();
            //return true;
            clearInterval(x)
        }
        else{
            console.log("evaluando el tiempo")
            //return false;
        }
}
</script>

{% endblock %}