{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2>Cambiar Clave</h2>
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <input type="submit" value="Actualizar" class="btn btn-primary"/>
                        <a href="{% url 'gallery:modUser' %}" class="btn btn-primary">Cancelar</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>