{# Load the tag library #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar actividad</title>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script>
        alert("Prueba el plan es " + {{plan.pk}});
    </script>
    <script>
        function enviarForm()
        {
            $.ajax(
                {
                    type: "POST",
                    url:  "",
                    data: JSON.stringify(
                        {   fecha: $('#fecha').val(),
                            video: $('#video').val(),
                            observaciones: $('#observaciones').val(),
                            lugar: $('#lugar').val()
                        }),
                    contentType: "application/json; charset=utf-8;",
                    dataType: "json",
                    success: function (data)
                    {
                        window.location = "http://localhost:8000/proyecto"
                    },
                    failure: function (errMsg)
                    {
                        alert("Se obtuvo un error al agregar la actividad " + errMsg)
                    }
                }
            );
            return false;
        }
    </script>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Agregar actividad al plan de logística</h2>
        </div>

        <form method="post" action="" onsubmit="return enviarForm();">
            <input id="fecha" name="fecha" type="datetime-local" placeholder="Fecha" class="form-control input-md" required=""/>
            <input id="video" name="video" type="text" placeholder="Video" class="form-control input-md" required=""/>
            <input id="observaciones" name="observaciones" type="text" placeholder="Observaciones" class="form-control input-md" required=""/>
            <input id="lugar" name="lugar" type="text" placeholder="Lugar" class="form-control input-md" required=""/>
            <input type="submit" value="Agregar" class="btn btn-primary"/>
            <a href="http://localhost:8000/proyecto" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>
</body>
</html>