{% extends 'dashboard/base.html' %}
{% block body %}
    <script>
    function notifyUser() {
          document.getElementById("notify").innerHTML = "Actividad completada";
        };

        (function()
        {
            $.getJSON("../planLogistica/1/actividades/").done(function (data)
            {
                var num = 0;
                $.each(data, function (i, item)
                {
                    num = num +1;
                    var f = new Date(item.fields.Fecha);

                    $("#actividades_ul").append(
                        '<li class="item">\n' +
                        '<div class="item-row">\n'+
                        '   <div class="item-col fixed pull-left item-col-check">\n' +
                        '       <div class="item-heading">#</div>\n' +
                        '       <div>\n' +
                        '           <h4 class="item-title">' + num + '</h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-title">\n' +
                        '       <div class="item-heading">Fecha</div>\n' +
                        '       <div>\n' +
                        '           <h4 class="no-overflow">' + f.toLocaleDateString('es-CO') + '</h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-title">\n' +
                        '       <div class="item-heading">Escena</div>\n' +
                        '       <div>\n' +
                        '           <h4 class="no-overflow">' + item.fields.Video + '</h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-title">\n' +
                        '       <div class="item-heading">Observaciones</div>\n' +
                        '       <div>\n' +
                        '           <h4 class="no-overflow">' + item.fields.Observaciones + '</h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-title">\n' +
                        '       <div class="item-heading">Lugar</div>\n' +
                        '       <div>\n' +
                        '           <h4 class="no-overflow">' + item.fields.Lugar + '</h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-check">\n' +
                        '       <div class="item-heading">Editar</div>\n' +
                        '           <h4 class="no-overflow">' +
                        '               <a class="edit" href="../editarActividad/' + item.pk + '" >' +
                        '                   <i class="fa fa-pencil"/>' +
                        '               </a>\n' +
                        '           </h4>\n'+
                        '       </div>\n' +
                        '   </div>\n' +
                        '   <div class="item-col fixed item-col-check">\n' +
                        '       <div class="item-heading">Completada</div>\n' +
                        '           <h4 class="no-overflow">' +
                        '               <a class="check" id="checkAct" ' + item.pk + '" >' +
                        '                   <span id="activitySpan" onClick="notifyUser()">' +
                        '                   <i class="fa fa-check"/>Done</span> '+
                        '               </a>\n' +
                        '           </h4>\n' +
                        '       </div>\n' +
                        '   </div>\n' +
                        '</div>\n ' +
                        '</li>\n'
                    );
                });
            });
        })();
    </script>
    <article class="content items-list-page">
        <div class="title-search-block">
            <div class="title-block">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title"> Listado de Actividades
                            <a href="../planLogistica/1/actividad" class="btn btn-primary btn-sm rounded-s" id="crear_crudo"> Agregar actividad </a>
                        </h3>
                        <p class="title" id="notify"></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card items">
            <ul class="item-list striped" id="actividades_ul">
                <li class="item item-list-header">
                    <div class="item-row">
                        <div class="item-col item-col-header item-col-check">
                            <div>
                                <span>#</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Fecha</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Escena</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Observaciones</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Lugar</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Editar</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Completada</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </article>
{% endblock %}