{% extends 'dashboard/base.html' %}
{% block body %}
    <article class="content item-editor-page">
        <div class="title-block">
            <h3 class="title"> Artefacto
                <span class="sparkline bar" data-type="bar"></span>
            </h3>
        </div>
        <form action="{% url 'QueVideo:agregarArtefactoRecurso' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

                <input type="submit" value="Agregar Artefacto" class="btn btn-primary"/>
                <a href="{% url 'QueVideo:index' %}" class="btn btn-secondary">Cancelar</a>

        </form>
    </article>

{% endblock %}





