<!doctype html>
<html class="no-js" lang="en">

<head>
    {% load staticfiles %}


    <!-- Estilos -->

    <link rel="stylesheet" href="{% static 'dashboard/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/vendor.css' %}">
    <!-- Theme initialization -->
    <link rel="stylesheet" id="theme-style" href="{% static 'dashboard/css/app-custom.css' %}">

    <!-- Place favicon.ico in the root directory -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> SGRED - Sistema de Gestión de Recursos Digitales </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script>
        function cambiarEtapa(){
            var SendInfo= {"idEtapa":2,
                    "fecha_fin":"2018-06.25T14:30:59Z",
                    "fecha_inicio":"2018-06.25T14:30:59Z",
                    "nombre":"produccion",
                    "estado":"DONE",
                    "etapa_type":"Pro"};
             $.ajax({
              url: '../cambioEstadoEtapa/1/',
              data: JSON.stringify(SendInfo),
              contentType: "application/json; charset=utf-8",
              type: 'PUT',
              success: function(data) {
                alert('El recurso cambió de etapa: ' + data.etapa_anterior + " -> " + data.nueva_etapa);
              },
              error: function(data) {
                alert('El recurso se encuentra en la última etapa');
              }
            });
        }

    </script>

</head>
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse d-lg-none d-xl-none">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            {% comment %} <div class="header-block header-block-search">
                <form role="search">
                    <div class="input-container">
                        <i class="fa fa-search"></i>
                        <input type="search" placeholder="Search">
                        <div class="underline"></div>
                    </div>
                </form>
            </div>{% endcomment %}

            <div class="header-block header-block-nav">
                <ul class="nav-profile">
                    <li>
                        <i class="fa fa-area-chart"> Recurso Actual: {{ request.session.recurso_actual }}</i>
                        <i class="fa arrow"></i>

                        <p>
                            <i>Etapa Actual: </i>
                            <i>{{ request.session.etapa_recurso }}</i>
                            <a href="javascript:cambiarEtapa()" class="btn btn-primary btn-sm rounded-s">Cambiar estado</a>
                        </p>

                    </li>
                    <li class="notifications new">
                        <a href="" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <sup>
                                <span class="counter">
                                    {{ n_number }}
                                </span>
                            </sup>
                        </a>
                        <div class="dropdown-menu notifications-dropdown-menu">
                            <ul class="notifications-container">
                                {% if listNotif %}
                                    {% for notif in listNotif %}
                                        <li class="alert alert-success-dismissible">
                                            <a href="{% url 'QueVideo:verSolicitudes' %}"> {{ notif.solicitadoPor }}
                                                realizo una solicitud de cambio de etapa </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}

                                {#                                <li>#}
                                {#                                    <a href="" class="notification-item">#}
                                {#                                        <div class="img-col">#}
                                {#                                            <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>#}
                                {#                                        </div>#}
                                {#                                        <div class="body-col">#}
                                {#                                            <p>#}
                                {#                                                <span class="accent">Zack Alien</span> pushed new commit:#}
                                {#                                                <span class="accent">Fix page load performance issue</span>. </p>#}
                                {#                                        </div>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                {#                                <li>#}
                                {#                                    <a href="" class="notification-item">#}
                                {#                                        <div class="img-col">#}
                                {#                                            <div class="img" style="background-image: url('assets/faces/5.jpg')"></div>#}
                                {#                                        </div>#}
                                {#                                        <div class="body-col">#}
                                {#                                            <p>#}
                                {#                                                <span class="accent">Amaya Hatsumi</span> started new task:#}
                                {#                                                <span class="accent">Dashboard UI design.</span>. </p>#}
                                {#                                        </div>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                                {#                                <li>#}
                                {#                                    <a href="" class="notification-item">#}
                                {#                                        <div class="img-col">#}
                                {#                                            <div class="img" style="background-image: url('assets/faces/8.jpg')"></div>#}
                                {#                                        </div>#}
                                {#                                        <div class="body-col">#}
                                {#                                            <p>#}
                                {#                                                <span class="accent">Andy Nouman</span> deployed new version of#}
                                {#                                                <span class="accent">NodeJS REST Api V3</span>#}
                                {#                                            </p>#}
                                {#                                        </div>#}
                                {#                                    </a>#}
                                {#                                </li>#}
                            </ul>
                            <footer>
                                <ul>
                                    <li>
                                        <a href="{% url 'QueVideo:verSolicitudes' %}"> View All </a>
                                    </li>
                                </ul>
                            </footer>
                        </div>
                    </li>
                    <li class="profile dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="name"> {{ user.get_username }} </span>
                        </a>
                        <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{% url 'QueVideo:verRecursosAsociados' %}">
                                <i class="fa fa-th-large icon"></i> Recursos Asociados </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'QueVideo:logout' %}">
                                <i class="fa fa-power-off icon"></i> Logout </a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <div class="logo">
                            <img src="{% static 'dashboard/imagenes/Logo_andes.png' %}" alt="Andes" width="55"
                                 height="45" style="vertical-align: top !important;">
                            {% comment %}<span class="l l1"></span>
                            <span class="l l2"></span>
                            <span class="l l3"></span>
                            <span class="l l4"></span>
                            <span class="l l5"></span>{% endcomment %}
                        </div>
                        SGRED
                    </div>
                </div>
                <nav class="menu">
                    <ul class="sidebar-menu metismenu" id="sidebar-menu">
                        <li {% if option == 'dashboard' %}class="active"{% endif %}>
                            <a href="{% url 'QueVideo:index' %}">
                                <i class="fa fa-home"></i> Dashboard </a>
                        </li>
{#                        <li {% if option == 'recursos' %}class="active open"{% endif %}>#}
{#                            <a href="">#}
{#                                <i class="fa fa-th-large"></i> Recursos#}
{#                                <i class="fa arrow"></i>#}
{#                            </a>#}
{#                            <ul class="sidebar-nav">#}
{#                                <li>#}
{#                                    <a href="{% url 'QueVideo:crearRecurso' %}"> Crear Recurso </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href=""> Listar Recursos </a>#}
{#                                </li>#}
{##}
{#                            </ul>#}
{#                        </li>#}
                        <li {% if option == 'preproduccion' %}class="active open"{% endif %}>
                            <a href="">
                                <i class="fa fa-sitemap"></i> Pre-Producción
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:agregarArtefactoRecurso' %}"> Artefactos </a>
                                </li>
                                <li>
                                    <a href="#"> Plan de logistica
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="/actividades/"> Actividades </a>
                                        </li>

                                        <li>
                                            <a href="#"> Equipo</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li {% if option == 'produccion' %}class="active open"{% endif %}>
                            <a href="">
                                <i class="fa fa-table"></i> <span id="produccionSpan">Producción</span>
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:agregarCrudoBlock' %}"> Crudos </a>
                                </li>
                                <li>
                                    <a href="{% url 'QueVideo:listaCrudos' %}"> <span>Listado de Crudos</span> </a>
                                </li>
                            </ul>
                        </li>

                        <li {% if option == 'postproduccion' %}class="active open"{% endif %}>
                            <a href="">
                                <i class="fa fa-desktop"></i> <span id="postproduccionSpan">Post-Producción</span>
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:entregablesRecurso' %}"> Entregables </a>
                                </li>
                            </ul>
                        </li>

                        <li {% if option == 'controlCalidad' %}class="active open"{% endif %}>
                            <a href="">
                                <i class="fa fa-bar-chart"></i> <span id="controlCalidadSpan">Control Calidad</span>
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:SolicitudControlCalidad' %}"> Crear Solicitud </a>
                                </li>
                            </ul>
                             <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:ListaControlCalidadCompleto' %}"> Buscar Solicitud </a>
                                </li>
                            </ul>
                        <ul class="sidebar-nav">
                                <li>
                                    <a href="{% url 'QueVideo:listSolicitudControlCalidad' %}"> Listar Solicitudes </a>
                                </li>
                            </ul>
                        </li>

                        <!--li>
                            <a href="forms.html">
                                <i class="fa fa-pencil-square-o"></i> Forms </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-desktop"></i> UI Elements
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="buttons.html"> Buttons </a>
                                </li>
                                <li>
                                    <a href="cards.html"> Cards </a>
                                </li>
                                <li>
                                    <a href="typography.html"> Typography </a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons </a>
                                </li>
                                <li>
                                    <a href="grid.html"> Grid </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-file-text-o"></i> Pages
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="login.html"> Login </a>
                                </li>
                                <li>
                                    <a href="signup.html"> Sign Up </a>
                                </li>
                                <li>
                                    <a href="reset.html"> Reset </a>
                                </li>
                                <li>
                                    <a href="error-404.html"> Error 404 App </a>
                                </li>
                                <li>
                                    <a href="error-404-alt.html"> Error 404 Global </a>
                                </li>
                                <li>
                                    <a href="error-500.html"> Error 500 App </a>
                                </li>
                                <li>
                                    <a href="error-500-alt.html"> Error 500 Global </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-sitemap"></i> Menu Levels
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="#"> Second Level Item
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="#"> Third Level Item </a>
                                        </li>
                                        <li>
                                            <a href="#"> Third Level Item </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"> Second Level Item </a>
                                </li>
                                <li>
                                    <a href="#"> Second Level Item
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="#"> Third Level Item </a>
                                        </li>
                                        <li>
                                            <a href="#"> Third Level Item </a>
                                        </li>
                                        <li>
                                            <a href="#"> Third Level Item
                                                <i class="fa arrow"></i>
                                            </a>
                                            <ul class="sidebar-nav">
                                                <li>
                                                    <a href="#"> Fourth Level Item </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Fourth Level Item </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="screenful.html">
                                <i class="fa fa-bar-chart"></i> Agile Metrics
                                <span class="label label-screenful">by Screenful</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/modularcode/modular-admin-html">
                                <i class="fa fa-github-alt"></i> Theme Docs </a>
                        </li-->
                    </ul>
                </nav>
            </div>
            {% comment %}  <footer class="sidebar-footer">
                <ul class="sidebar-menu metismenu" id="customize-menu">
                    <li>
                        <ul>
                            <li class="customize">
                                <div class="customize-item">
                                    <div class="row customize-header">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <label class="title">fixed</label>
                                        </div>
                                        <div class="col-4">
                                            <label class="title">static</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Sidebar:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition"
                                                       value="sidebar-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="sidebarPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Header:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition"
                                                       value="header-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="headerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="title">Footer:</label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition"
                                                       value="footer-fixed">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label>
                                                <input class="radio" type="radio" name="footerPosition" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="customize-item">
                                    <ul class="customize-colors">
                                        <li>
                                            <span class="color-item color-red" data-theme="red"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-orange" data-theme="orange"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-green active" data-theme=""></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-blue" data-theme="blue"></span>
                                        </li>
                                        <li>
                                            <span class="color-item color-purple" data-theme="purple"></span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a href="">
                            <i class="fa fa-cog"></i> Customize </a>
                    </li>
                </ul>
            </footer>{% endcomment %}
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} float-message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>ERROR: </strong> {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<strong>EXITOSO: </strong> {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<strong>INFORMACION: </strong> {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}
        {% endblock %}

        <footer class="footer">
            <div class="footer-block buttons">
                Sistema de Gestión de Recursos Educativos Digitales
                {% comment %}<iframe class="footer-github-btn"
                        src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true"
                        frameborder="0" scrolling="0" width="140px" height="20px"></iframe>{% endcomment %}
            </div>
            <div class="footer-block author">
                <ul>
                    <li> Universidad de los Andes
                        {#                        <a href="https://github.com/modularcode">ModularCode</a>#}
                    </li>
                    <li>
                        2018
                    </li>
                </ul>
            </div>
        </footer>
        <div class="modal fade" id="modal-media">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Media Library</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body modal-tab-container">
                        <ul class="nav nav-tabs modal-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content modal-tab-content">
                            <div class="tab-pane fade" id="gallery" role="tabpanel">
                                <div class="images-container">
                                    <div class="row"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                <div class="upload-container">
                                    <div id="dropzone">
                                        <form action="/" method="POST" enctype="multipart/form-data"
                                              class="dropzone needsclick dz-clickable" id="demo-upload">
                                            <div class="dz-message-block">
                                                <div class="dz-message needsclick"> Drop files here or click to
                                                    upload.
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Insert Selected</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="confirm-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fa fa-warning"></i> Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to do this?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script src="{% static 'dashboard/js/vendor.js' %}"></script>
<script src="{% static 'dashboard/js/app.js' %}"></script>
</body>
</html>