<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title> SGRED - Sistema de Gestión de Recursos Digitales </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Estilos -->

    <link rel="stylesheet" href="{% static 'dashboard/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/vendor.css' %}">
    <!-- Theme initialization -->
    <link rel="stylesheet" id="theme-style" href="{% static 'dashboard/css/app-custom.css' %}">


</head>
<body>
<div class="app blank sidebar-opened">
    <article class="content">
        <div class="error-card global">
            <div class="error-title-block">
                <h1 class="error-title">404</h1>
                <h2 class="error-sub-title"> Sorry, page not found </h2>
            </div>
            <div class="error-container">
                <p>You better try our awesome search:</p>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">Search</button>
                                    </span>
                        </div>
                    </div>
                </div>
                <br>
                <a class="btn btn-primary" href="index.html">
                    <i class="fa fa-angle-left"></i> Back to Dashboard </a>
            </div>
        </div>
    </article>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script src="{% static 'dashboard/js/vendor.js' %}"></script>
<script src="{% static 'dashboard/js/app.js' %}"></script>
</body>
</html>